@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,300;1,300&display=swap");

.App {
  min-height: 100vh;
  display: flex;
  background-image: url(./background_image.png);
  /* background-size: cover;
  background-position: center; */
  text-align: center;
  color: black;
}
